@{
    ViewData["Title"] = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>

@(Html.DevExtreme().DataGrid<FrontEndTiendaOnline.Models.Cliente>
    ()
    .DataSource(ds => ds.WebApi()
    .Controller("Cliente")
    .LoadAction("Get")
    .InsertAction("Post")
    .UpdateAction("Put")
    .DeleteAction("Delete")
    .Key("Id")
    )

    .RemoteOperations(true)
    .SearchPanel(s => s
        .Visible(true)
        .HighlightCaseSensitive(false)
        .HighlightSearchText(false)
        .Width(300)
        .Placeholder("Buscar clientes...")
    )
    .Columns(columns => {

    columns.AddFor(m => m.Id);

    columns.AddFor(m => m.Pais);

    columns.AddFor(m => m.DireccionExacta);

    columns.AddFor(m => m.Ciudad);

    columns.AddFor(m => m.CodigoPostal);

    columns.AddFor(m => m.Contrasena);

    columns.AddFor(m => m.FechaRegistro);

    columns.AddFor(m => m.Nombre);

    columns.AddFor(m => m.Apellido);

    columns.AddFor(m => m.Telefono);

    columns.AddFor(m => m.Correo);
    })
        .Editing(e => e
        .Mode(GridEditMode.Popup)
        .AllowAdding(true).UseIcons(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
    .OnRowInserted("showSuccessMessage")  // Notificación al agregar
    .OnRowRemoved("showDeleteMessage")    // Notificación al eliminar
)
@(Html.DevExtreme().Toast()
    .ID("toast")
    .DisplayTime(3000) // 3 segundos
    .Width("auto")
)

<script>
    function showSuccessMessage(e) {
        const toast = $("#toast").dxToast("instance");
        toast.option({
            message: "Agregado con éxito",
            type: "success"
        });
        toast.show();
    }

    function showDeleteMessage(e) {
        const toast = $("#toast").dxToast("instance");
        toast.option({
            message: "Eliminado con éxito",
            type: "warning"
        });
        toast.show();
    }
</script>